In [1]:
import sqlalchemy
import pandas as pd
import yfinance as yf
from datetime import date
from components.tickers import sectorsTickers, mid_cap_and_above, xlb, xlc, xly, xlp, xle, xlf, xlv, xli, xlk, xlu, xlre

start_date = date.fromisoformat("2015-01-03")

In [4]:
engine = sqlalchemy.create_engine('sqlite:///stock_etf.db')

# VTHCHS39X4T7ML4F for alpha vantage

In [5]:
XLB = yf.Tickers(xlb)
XLB_dataframe = XLB.history(
start=start_date, interval="1d", rounding=True, auto_adjust=True).Close
XLB_dataframe = XLB_dataframe.tz_localize(None)
XLB_dataframe = XLB_dataframe.reset_index()
XLB_dataframe["Date"] = pd.DatetimeIndex(XLB_dataframe['Date'])

[*********************100%%**********************]  29 of 29 completed

In [6]:
XLB_dataframe.to_sql("XLB_STOCKS", engine, if_exists='replace', index=False)

2275

In [7]:
XLC = yf.Tickers(xlc)
XLC_dataframe = XLC.history(
start=start_date, interval="1d", rounding=True, auto_adjust=True).Close
XLC_dataframe = XLC_dataframe.tz_localize(None)
XLC_dataframe = XLC_dataframe.reset_index()
XLC_dataframe["Date"] = pd.DatetimeIndex(XLC_dataframe['Date'])

[*********************100%%**********************]  26 of 26 completed

In [8]:
XLC_dataframe.to_sql("XLC_STOCKS", engine, if_exists='replace', index=False)

2275

In [9]:
XLY = yf.Tickers(xly)
XLY_dataframe = XLY.history(
start=start_date, interval="1d", rounding=True, auto_adjust=True).Close
XLY_dataframe = XLY_dataframe.tz_localize(None)
XLY_dataframe = XLY_dataframe.reset_index()
XLY_dataframe["Date"] = pd.DatetimeIndex(XLY_dataframe['Date'])

[*********************100%%**********************]  102 of 102 completed

In [10]:
XLY_dataframe.to_sql("XLY_STOCKS", engine, if_exists='replace', index=False)

2275

In [11]:
XLP = yf.Tickers(xlp)
XLP_dataframe = XLP.history(
start=start_date, interval="1d", rounding=True, auto_adjust=True).Close
XLP_dataframe = XLP_dataframe.tz_localize(None)
XLP_dataframe = XLP_dataframe.reset_index()
XLP_dataframe["Date"] = pd.DatetimeIndex(XLP_dataframe['Date'])

[*********************100%%**********************]  41 of 41 completed

In [12]:
XLP_dataframe.to_sql("XLP_STOCKS", engine, if_exists='replace', index=False)

2275

In [13]:
XLE = yf.Tickers(xle)
XLE_dataframe = XLE.history(
start=start_date, interval="1d", rounding=True, auto_adjust=True).Close
XLE_dataframe = XLE_dataframe.tz_localize(None)
XLE_dataframe = XLE_dataframe.reset_index()
XLE_dataframe["Date"] = pd.DatetimeIndex(XLE_dataframe['Date'])

[*********************100%%**********************]  58 of 58 completed

In [14]:
XLE_dataframe.to_sql("XLE_STOCKS", engine, if_exists='replace', index=False)

2275

In [15]:
XLF = yf.Tickers(xlf)
XLF_dataframe = XLF.history(
start=start_date, interval="1d", rounding=True, auto_adjust=True).Close
XLF_dataframe = XLF_dataframe.tz_localize(None)
XLF_dataframe = XLF_dataframe.reset_index()
XLF_dataframe["Date"] = pd.DatetimeIndex(XLF_dataframe['Date'])

[*********************100%%**********************]  133 of 133 completed

In [16]:
XLF_dataframe.to_sql("XLF_STOCKS", engine, if_exists='replace', index=False)

2275

In [17]:
XLV = yf.Tickers(xlv)
XLV_dataframe = XLV.history(
start=start_date, interval="1d", rounding=True, auto_adjust=True).Close
XLV_dataframe = XLV_dataframe.tz_localize(None)
XLV_dataframe = XLV_dataframe.reset_index()
XLV_dataframe["Date"] = pd.DatetimeIndex(XLV_dataframe['Date'])

[*********************100%%**********************]  94 of 94 completed

In [18]:
XLV_dataframe.to_sql("XLV_STOCKS", engine, if_exists='replace', index=False)

2275

In [19]:
XLI = yf.Tickers(xli)
XLI_dataframe = XLI.history(
start=start_date, interval="1d", rounding=True, auto_adjust=True).Close
XLI_dataframe = XLI_dataframe.tz_localize(None)
XLI_dataframe = XLI_dataframe.reset_index()
XLI_dataframe["Date"] = pd.DatetimeIndex(XLI_dataframe['Date'])

[*********************100%%**********************]  100 of 100 completed

In [20]:
XLI_dataframe.to_sql("XLI_STOCKS", engine, if_exists='replace', index=False)

2275

In [21]:
XLRE = yf.Tickers(xlre)
XLRE_dataframe = XLRE.history(
start=start_date, interval="1d", rounding=True, auto_adjust=True).Close
XLRE_dataframe = XLRE_dataframe.tz_localize(None)
XLRE_dataframe = XLRE_dataframe.reset_index()
XLRE_dataframe["Date"] = pd.DatetimeIndex(XLRE_dataframe['Date'])

[*********************100%%**********************]  73 of 73 completed

In [22]:
XLRE_dataframe.to_sql("XLRE_STOCKS", engine, if_exists='replace', index=False)

2275

In [23]:
XLK = yf.Tickers(xlk)
XLK_dataframe = XLK.history(
start=start_date, interval="1d", rounding=True, auto_adjust=True).Close
XLK_dataframe = XLK_dataframe.tz_localize(None)
XLK_dataframe = XLK_dataframe.reset_index()
XLK_dataframe["Date"] = pd.DatetimeIndex(XLK_dataframe['Date'])

[*********************100%%**********************]  98 of 98 completed

In [24]:
XLK_dataframe.to_sql("XLK_STOCKS", engine, if_exists='replace', index=False)

2275

In [25]:
XLU = yf.Tickers(xlu)
XLU_dataframe = XLU.history(
start=start_date, interval="1d", rounding=True, auto_adjust=True).Close
XLU_dataframe = XLU_dataframe.tz_localize(None)
XLU_dataframe = XLU_dataframe.reset_index()
XLU_dataframe["Date"] = pd.DatetimeIndex(XLU_dataframe['Date'])

[*********************100%%**********************]  37 of 37 completed

In [26]:
XLU_dataframe.to_sql("XLU_STOCKS", engine, if_exists='replace', index=False)

2275

In [27]:
ticker1 = yf.Tickers(mid_cap_and_above)
stock_dataframe = ticker1.history(
start=start_date, interval="1d", rounding=True, auto_adjust=True).Close
stock_dataframe =stock_dataframe.tz_localize(None)
stock_dataframe = stock_dataframe.reset_index()
stock_dataframe["Date"] = pd.DatetimeIndex(stock_dataframe['Date'])

[*********************100%%**********************]  790 of 790 completed

In [28]:
stock_dataframe.to_sql("stockData", engine, if_exists='replace', index=False)

2275

In [29]:
etf = yf.Tickers(sectorsTickers)
etf_data = etf.history(
start=start_date, interval="1d", rounding=True, auto_adjust=True).Close
etf_data = etf_data.tz_localize(None)
etf_data = etf_data.reset_index()
etf_data["Date"] = pd.DatetimeIndex(etf_data['Date'])

[*********************100%%**********************]  12 of 12 completed

In [30]:
etf_data.to_sql("ETF", engine, if_exists='replace', index=False)

2275

In [31]:
pd.read_sql("SELECT Date, EOG FROM stockData", engine, parse_dates="Date")

           Date     EOG
0    2015-01-05   66.98
1    2015-01-06   65.07
2    2015-01-07   64.66
3    2015-01-08   67.13
4    2015-01-09   67.58
...         ...     ...
2270 2024-01-11  114.08
2271 2024-01-12  115.14
2272 2024-01-16  112.14
2273 2024-01-17  110.63
2274 2024-01-18  110.09

[2275 rows x 2 columns]

In [32]:
pd.read_sql("SELECT Date, COUNT(*) AS JustCounting FROM stockData WHERE A<35", engine, parse_dates="Date")

        Date  JustCounting
0 2015-08-20            68

In [34]:
pd.read_sql("SELECT Date, A FROM stockData GROUP BY A", engine, parse_dates="Date").head(3)

        Date      A
0 2015-09-28  31.19
1 2015-09-29  31.53
2 2015-08-25  32.02

In [33]:

# AVG
# COUNT
# DISTINCT
# LOWER
# MAX
# MIN
# UPPER
# WHERE
# LIKE
# ORDER BY
# LIMIT
# GROUP BY
# DESC

# UPDATE table SET column = value WHERE condition
# DELETE FROM table WHERE condition

# Data types: BLOB (Binary large object), INTEGER, NUMERIC (special number based info like dates, times etc...), REAL (foat number), TEXT

# NOT NULL is used to make sure that value was represented (text or number)

# SELECT column FROM table WHERE id IN (SELECT id FROM table WHERE condition = value) . First executes in brackets, then combines information

# SELECT column FROM table WHERE id IN (SELECT short_id FROM shorts WHERE short_id = (SELECT id FROM longs WHERE long = name)) ORDER BY column

# SELECT * FROM shows JOIN genres ON shows.id = genres.show_id WHERE title = 'the office'
# SELECT * FROM people WHERE name LIKE 'Steve C%'  % sign tells to choose anything after C

# CREATE INDEX column_index ON shows (column_name) . Makes searches much faster with seperate column index. B-trees

# variable_name = input("ticker: ")
# db.execute("SELECT * FROM table WHERE ticker = ?", variable_name)  dynamic routing

# race condition - many users do the same requests.

# to make race condition less problamatic there are few solutions: BEGIN TRANSACTION, COMMIT, ROLLBACK.
# db.execute("BEGIN TRANSACTION")
# rows = db.execute("SELECT * FROM data WHERE id = ?", id)
# likes = rows[0]["likes"]
# db.execute("UPDATE posts SET likes = ? WHERE id = ?", likes+1, id)
# db.execute("COMMIT")

#  '-- in SQL means ignore after dashes (comments out left code). Single qoute helps if DB code line is formatted, not used ?.

In [36]:
# df = web.get_data_stooq("AA", start_date).Close
# print(df)

In [37]:
# tickerList_for_now = 'AA'
# tickerList_for_now = delisted.split()
# df = pd.DataFrame()

# for ticker in tickerList_for_now:
#     df = web.get_data_stooq( ticker, start=start_date).Close

In [38]:
# dataframe1 = dataframe1.tz_localize(None)
# df = df.tz_localize(None)
# companiesFrame = pd.concat([dataframe1, df], axis=1)
# companiesFrame = companiesFrame.reset_index()
# companiesFrame['Date'] = pd.DatetimeIndex(companiesFrame['Date'])

In [39]:
# indexes = yf.Tickers(sectorsTickers)
# indexes_data = indexes.history(
#     start=start_date, interval="1d", rounding=True, auto_adjust=True).Close
# indexes_data = indexes_data.tz_localize(None)
# indexes_data = indexes_data.reset_index()
# indexes_data["Date"] = pd.DatetimeIndex(indexes_data['Date'])