In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import yfinance as yf
import plotly.express as px
%matplotlib widget

In [3]:
start = dt.datetime(2022, 5, 21)

simbols = "GDDY ABT QRTEA OPK ACRE AIV WTI JBLU AGNC WU ENLC RLJ ET DRH VLY EVRI C IAC MDU NUVA INTC DIS HPQ RCL FULT AMKR"
tickers = yf.Tickers(simbols)
stock_data = tickers.history(start=start, actions=False, rounding=True)

[*********************100%***********************]  26 of 26 completed

### Open positions:

In [9]:
GDDY_ABT = pd.DataFrame(stock_data["Close"]["GDDY"]/stock_data["Close"]["ABT"]).round(2)
GDDY_ABT.columns= ["GDDY / ABT"]
GDDY_ABT = GDDY_ABT.loc["2022-7-1":]
####
QRTEA_OPK = pd.DataFrame(stock_data["Close"]["QRTEA"]/stock_data["Close"]["OPK"]).round(2)
QRTEA_OPK.columns= ["QRTEA / OPK"]
QRTEA_OPK = QRTEA_OPK.loc["2022-10-25":]
####
ACRE_AIV = pd.DataFrame(stock_data["Close"]["ACRE"]/stock_data["Close"]["AIV"]).round(2)
ACRE_AIV.columns= ["ACRE / AIV"]
ACRE_AIV = ACRE_AIV.loc["2022-10-26":]
####
WTI_JBLU = pd.DataFrame(stock_data["Close"]["WTI"]/stock_data["Close"]["JBLU"]).round(2)
WTI_JBLU.columns= ["WTI / JBLU"]
WTI_JBLU = WTI_JBLU.loc["2022-10-27":]
####
AGNC_WU = pd.DataFrame(stock_data["Close"]["AGNC"]/stock_data["Close"]["WU"]).round(2)
AGNC_WU.columns = ["AGNC / WU"]
AGNC_WU = AGNC_WU.loc["2022-11-07":]
####
ENLC_RLJ = pd.DataFrame(stock_data["Close"]["ENLC"]/stock_data["Close"]["RLJ"]).round(2)
ENLC_RLJ.columns = ["ENLC / RLJ"]
ENLC_RLJ = ENLC_RLJ.loc["2022-11-07":]
####
ET_DRH = pd.DataFrame(stock_data["Close"]["ET"]/stock_data["Close"]["DRH"]).round(2)
ET_DRH.columns = ["ET / DRH"]
ET_DRH = ET_DRH.loc["2022-11-08":]
####
VLY_EVRI = pd.DataFrame(stock_data["Close"]["VLY"]/stock_data["Close"]["EVRI"]).round(2)
VLY_EVRI.columns = ["VLY / EVRI"]
VLY_EVRI = VLY_EVRI.loc["2022-11-08":]
####
C_IAC = pd.DataFrame(stock_data["Close"]["C"]/stock_data["Close"]["IAC"]).round(2)
C_IAC.columns = ["C / IAC"]
C_IAC = C_IAC.loc["2022-11-18":]
####
MDU_NUVA = pd.DataFrame(stock_data["Close"]["MDU"]/stock_data["Close"]["NUVA"]).round(2)
MDU_NUVA.columns = ["MDU / NUVA"]
MDU_NUVA = MDU_NUVA.loc["2022-12-21":]
####
INTC_DIS = pd.DataFrame(stock_data["Close"]["INTC"]/stock_data["Close"]["DIS"]).round(2)
INTC_DIS.columns = ["INTC / DIS"]
INTC_DIS = INTC_DIS.loc["2022-12-21":]
####
HPQ_RCL = pd.DataFrame(stock_data["Close"]["HPQ"]/stock_data["Close"]["RCL"]).round(2)
HPQ_RCL.columns = ["HPQ / RCL"]
HPQ_RCL = HPQ_RCL.loc["2022-12-21":]
####
FULT_AMKR = pd.DataFrame(stock_data["Close"]["FULT"]/stock_data["Close"]["AMKR"]).round(2)
FULT_AMKR.columns = ["FULT / AMKR"]
FULT_AMKR = FULT_AMKR.loc["2022-12-21":]
####

Trades = pd.concat([GDDY_ABT, QRTEA_OPK, ACRE_AIV, WTI_JBLU, AGNC_WU, ENLC_RLJ, ET_DRH, VLY_EVRI, C_IAC, MDU_NUVA, INTC_DIS, HPQ_RCL, FULT_AMKR], axis=1)
pct_change_data = ((Trades.pct_change())+1).cumprod()
Trades.tail(10)

,GDDY / ABT,QRTEA / OPK,ACRE / AIV,WTI / JBLU,AGNC / WU,ENLC / RLJ,ET / DRH,VLY / EVRI,C / IAC,MDU / NUVA,INTC / DIS,HPQ / RCL,FULT / AMKR
Date,,,,,,,,,,,,,
2023-01-03 00:00:00-05:00,0.68,1.32,1.52,0.78,0.74,1.14,1.46,0.79,1.02,0.74,0.30,0.55,0.66
2023-01-04 00:00:00-05:00,0.68,1.38,1.48,0.73,0.75,1.12,1.45,0.78,0.96,0.72,0.30,0.52,0.65
2023-01-05 00:00:00-05:00,0.67,1.40,1.51,0.72,0.77,1.15,1.52,0.75,0.95,0.71,0.30,0.51,0.64
2023-01-06 00:00:00-05:00,0.67,1.45,1.47,0.72,0.77,1.14,1.51,0.76,0.96,0.71,0.31,0.52,0.62
2023-01-09 00:00:00-05:00,0.67,1.45,1.50,0.75,0.76,1.19,1.53,0.74,0.97,0.72,0.31,0.50,0.56
2023-01-10 00:00:00-05:00,0.64,1.50,1.49,0.71,0.76,1.16,1.53,0.73,0.97,0.70,0.31,0.49,0.58
2023-01-11 00:00:00-05:00,0.66,1.47,1.45,0.71,0.76,1.14,1.47,0.72,0.96,0.71,0.31,0.49,0.56
2023-01-12 00:00:00-05:00,0.68,1.44,1.47,0.73,0.77,1.16,1.44,0.71,0.94,0.70,0.30,0.46,0.56
2023-01-13 00:00:00-05:00,0.67,1.24,1.53,0.73,0.79,1.19,1.46,0.70,0.96,0.69,0.30,0.44,0.54
2023-01-17 00:00:00-05:00,0.67,1.22,1.56,0.74,0.80,1.16,1.44,0.70,0.96,0.69,0.30,0.43,0.54

In [5]:
top_bottom_pos =pd.DataFrame(pct_change_data.iloc[-1])
top_bottom_pos.columns=["Returns"]

In [6]:
top_bottom_pos.sort_values(by="Returns")

              Returns
WTI / JBLU   0.723671
FULT / AMKR  0.798429
HPQ / RCL    0.834742
MDU / NUVA   0.918368
C / IAC      0.927054
QRTEA / OPK  0.950747
INTC / DIS   0.959802
VLY / EVRI   0.975315
ET / DRH     1.001582
GDDY / ABT   1.025920
ACRE / AIV   1.049129
ENLC / RLJ   1.078215
AGNC / WU    1.223428