In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import yfinance as yf
import plotly.express as px
%matplotlib widget

In [5]:
start = dt.datetime(2022, 5, 21)

simbols = "QRTEA OPK ACRE AIV WTI JBLU AGNC WU ENLC RLJ ET DRH VLY EVRI C IAC MDU NUVA INTC DIS HPQ RCL FULT AMKR SYF WY SU RARE CFG EXC CME BIIB GNTX NI CGNX AEP FNF AZTA"
tickers = yf.Tickers(simbols)
stock_data = tickers.history(start=start, actions=False, rounding=True)

[*********************100%***********************]  38 of 38 completed

### Open positions:

In [6]:
QRTEA_OPK = pd.DataFrame(stock_data["Close"]["QRTEA"]/stock_data["Close"]["OPK"]).round(2)
QRTEA_OPK.columns= ["QRTEA / OPK"]
QRTEA_OPK = QRTEA_OPK.loc["2022-10-25":]
####
ACRE_AIV = pd.DataFrame(stock_data["Close"]["ACRE"]/stock_data["Close"]["AIV"]).round(2)
ACRE_AIV.columns= ["ACRE / AIV"]
ACRE_AIV = ACRE_AIV.loc["2022-10-26":]
####
WTI_JBLU = pd.DataFrame(stock_data["Close"]["WTI"]/stock_data["Close"]["JBLU"]).round(2)
WTI_JBLU.columns= ["WTI / JBLU"]
WTI_JBLU = WTI_JBLU.loc["2022-10-27":]
####
AGNC_WU = pd.DataFrame(stock_data["Close"]["AGNC"]/stock_data["Close"]["WU"]).round(2)
AGNC_WU.columns = ["AGNC / WU"]
AGNC_WU = AGNC_WU.loc["2022-11-07":]
####
ENLC_RLJ = pd.DataFrame(stock_data["Close"]["ENLC"]/stock_data["Close"]["RLJ"]).round(2)
ENLC_RLJ.columns = ["ENLC / RLJ"]
ENLC_RLJ = ENLC_RLJ.loc["2022-11-07":]
####
ET_DRH = pd.DataFrame(stock_data["Close"]["ET"]/stock_data["Close"]["DRH"]).round(2)
ET_DRH.columns = ["ET / DRH"]
ET_DRH = ET_DRH.loc["2022-11-08":]
####
VLY_EVRI = pd.DataFrame(stock_data["Close"]["VLY"]/stock_data["Close"]["EVRI"]).round(2)
VLY_EVRI.columns = ["VLY / EVRI"]
VLY_EVRI = VLY_EVRI.loc["2022-11-08":]
####
C_IAC = pd.DataFrame(stock_data["Close"]["C"]/stock_data["Close"]["IAC"]).round(2)
C_IAC.columns = ["C / IAC"]
C_IAC = C_IAC.loc["2022-11-18":]
####
MDU_NUVA = pd.DataFrame(stock_data["Close"]["MDU"]/stock_data["Close"]["NUVA"]).round(2)
MDU_NUVA.columns = ["MDU / NUVA"]
MDU_NUVA = MDU_NUVA.loc["2022-12-21":]
####
INTC_DIS = pd.DataFrame(stock_data["Close"]["INTC"]/stock_data["Close"]["DIS"]).round(2)
INTC_DIS.columns = ["INTC / DIS"]
INTC_DIS = INTC_DIS.loc["2022-12-21":]
####
HPQ_RCL = pd.DataFrame(stock_data["Close"]["HPQ"]/stock_data["Close"]["RCL"]).round(2)
HPQ_RCL.columns = ["HPQ / RCL"]
HPQ_RCL = HPQ_RCL.loc["2022-12-21":]
####
FULT_AMKR = pd.DataFrame(stock_data["Close"]["FULT"]/stock_data["Close"]["AMKR"]).round(2)
FULT_AMKR.columns = ["FULT / AMKR"]
FULT_AMKR = FULT_AMKR.loc["2022-12-21":]
####
SYF_WY = pd.DataFrame(stock_data["Close"]["SYF"]/stock_data["Close"]["WY"]).round(2)
SYF_WY.columns= ["SYF / WY"]
SYF_WY = SYF_WY.loc["2023-1-17":]
####
SU_RARE = pd.DataFrame(stock_data["Close"]["SU"]/stock_data["Close"]["RARE"]).round(2)
SU_RARE.columns= ["SU / RARE"]
SU_RARE = SU_RARE.loc["2023-1-17":]
####
CFG_EXC = pd.DataFrame(stock_data["Close"]["CFG"]/stock_data["Close"]["EXC"]).round(2)
CFG_EXC.columns= ["CFG / EXC"]
CFG_EXC = CFG_EXC.loc["2023-1-17":]
####
CME_BIIB = pd.DataFrame(stock_data["Close"]["CME"]/stock_data["Close"]["BIIB"]).round(2)
CME_BIIB.columns= ["CME / BIIB"]
CME_BIIB = CME_BIIB.loc["2023-1-17":]
####
GNTX_NI = pd.DataFrame(stock_data["Close"]["GNTX"]/stock_data["Close"]["NI"]).round(2)
GNTX_NI.columns= ["GNTX / NI"]
GNTX_NI = GNTX_NI.loc["2023-1-19":]
####
CGNX_AEP = pd.DataFrame(stock_data["Close"]["CGNX"]/stock_data["Close"]["AEP"]).round(2)
CGNX_AEP.columns= ["CGNX / AEP"]
CGNX_AEP = CGNX_AEP.loc["2023-1-19":]
####
FNF_AZTA = pd.DataFrame(stock_data["Close"]["FNF"]/stock_data["Close"]["AZTA"]).round(2)
FNF_AZTA.columns= ["FNF / AZTA"]
FNF_AZTA = FNF_AZTA.loc["2023-1-19":]
####

Trades = pd.concat([QRTEA_OPK,
                    ACRE_AIV,
                    WTI_JBLU,
                    AGNC_WU,
                    ENLC_RLJ,
                    ET_DRH,
                    VLY_EVRI,
                    C_IAC,
                    MDU_NUVA,
                    INTC_DIS,
                    HPQ_RCL,
                    FULT_AMKR,
                    SYF_WY,
                    SU_RARE,
                    CFG_EXC,
                    CME_BIIB,
                    GNTX_NI,
                    CGNX_AEP,
                    FNF_AZTA], axis=1)
pct_change_data = ((Trades.pct_change())+1).cumprod()
Trades.tail(10)

,QRTEA / OPK,ACRE / AIV,WTI / JBLU,AGNC / WU,ENLC / RLJ,ET / DRH,VLY / EVRI,C / IAC,MDU / NUVA,INTC / DIS,HPQ / RCL,FULT / AMKR,SYF / WY,SU / RARE,CFG / EXC,CME / BIIB,GNTX / NI,CGNX / AEP,FNF / AZTA
Date,,,,,,,,,,,,,,,,,,,
2023-01-06 00:00:00-05:00,1.45,1.47,0.72,0.77,1.14,1.51,0.76,0.96,0.71,0.31,0.52,0.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-09 00:00:00-05:00,1.45,1.50,0.75,0.76,1.19,1.53,0.74,0.97,0.72,0.31,0.50,0.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-10 00:00:00-05:00,1.50,1.49,0.71,0.76,1.16,1.53,0.73,0.97,0.70,0.31,0.49,0.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-11 00:00:00-05:00,1.47,1.45,0.71,0.76,1.14,1.47,0.72,0.96,0.71,0.31,0.49,0.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-12 00:00:00-05:00,1.44,1.47,0.73,0.77,1.16,1.44,0.71,0.94,0.70,0.30,0.46,0.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-13 00:00:00-05:00,1.24,1.53,0.73,0.79,1.19,1.46,0.70,0.96,0.69,0.30,0.44,0.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-17 00:00:00-05:00,1.22,1.56,0.74,0.80,1.16,1.44,0.70,0.96,0.69,0.30,0.43,0.54,1.06,0.77,0.95,0.61,NaN,NaN,NaN
2023-01-18 00:00:00-05:00,1.18,1.56,0.69,0.82,1.15,1.45,0.69,0.94,0.69,0.29,0.44,0.51,1.06,0.76,0.97,0.62,NaN,NaN,NaN
2023-01-19 00:00:00-05:00,1.28,1.54,0.71,0.82,1.16,1.45,0.67,0.94,0.68,0.29,0.44,0.53,1.05,0.80,0.96,0.62,1.06,0.55,0.73
2023-01-20 00:00:00-05:00,1.35,1.56,0.71,0.81,1.13,1.43,0.68,0.93,0.67,0.28,0.44,0.54,1.11,0.78,0.97,0.61,1.06,0.56,0.75

In [7]:
top_bottom_pos =pd.DataFrame(pct_change_data.iloc[-1])
top_bottom_pos.columns=["Returns"]

In [8]:
top_bottom_pos.sort_values(by="Returns")

              Returns
WTI / JBLU   0.696078
FULT / AMKR  0.794118
HPQ / RCL    0.846154
MDU / NUVA   0.881579
C / IAC      0.902913
INTC / DIS   0.903226
VLY / EVRI   0.944444
ET / DRH     0.993056
GNTX / NI    1.000000
CME / BIIB   1.000000
SU / RARE    1.012987
CGNX / AEP   1.018182
CFG / EXC    1.021053
FNF / AZTA   1.027397
ENLC / RLJ   1.046296
SYF / WY     1.047170
ACRE / AIV   1.054054
QRTEA / OPK  1.054687
AGNC / WU    1.246154