In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import yfinance as yf
import plotly.express as px
from sqlite3 import *
%matplotlib widget

-DSQLITE DEFAULT FOREIGN KEYS=1
-DSQLITE DQS=N

SyntaxError: invalid syntax (3431169854.py, line 10)

In [ ]:
#  Removing NUL characters from a text field:
# UPDATE t1 SET b=substr(b,1,instr(b,char(0)))
# WHERE instr(b,char(0))